{% extends 'custom_admin/base.html'%}

{% block title %}
Add Attribute Association
{% endblock title%}

{%block pagehead%}
ADD_ATTRUBUTE_ASSOCIATION
{%endblock pagehead%}

{% block content%}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Attribute Association </h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form id="quickForm" method="post">

              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                    <table>
                        
                        {% for x in form %}
                        
                        <label class="required">{{x.label}}</label> 
                        
                         <div>{{x}}</div>
                         <hr>
                        
                        
                      {%endfor%}   
                
                </table>
                  
               
              <!-- /.card-body -->
              <div class="card-footer">
                <a href="{% url 'custom-admin:listproduct-attribute-value-ass' %}"><button type="submit" class="btn btn-primary">Submit</button></a>
              </div>
            </form>
          </div>
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
{% endblock content %}