{% extends 'custom_admin/base.html'%}

{% block title %}
Banner
{% endblock title%}

{%block pagehead%}
Banner
{%endblock pagehead%}

{% block content%}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Banner</h3>
              <button type="button" class="btn btn-success" style="float:right;"><a href="{% url 'custom-admin:addbanner' %}"><h3 class="card-title" style="color : white">Add Banner</h3></a></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for x in res%}
                <tr>

                  <td>{{x.id}} </td>
                  <td> {{x.name}}</td>
                  <td><a href="{% url 'custom-admin:editbanner' x.id %}"><i class="fas fa-edit"></i></a><a href="{% url 'custom-admin:deletebanner' x.id %}"><i class="fas fa-trash-alt" style="margin-left:20px"></i></a> </td>  
                </tr>
                {%endfor%}
                </tbody>
                <tfoot>
                <tr>
                    <th>id</th>
                    <th>path</th>
                    <th>Action</th>
                  
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
  </section>
  
  
{% endblock content %}

