{% extends 'custom_admin/base.html'%}

{% block title %}
Delete|product_attribute
{% endblock title%}

{%block pagehead%}
DELETE_PRODUCT_ATTRIBUTE
{%endblock pagehead%}

{% block content%}


<section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- jquery validation -->
          <div class="card card-primary">
            <h3>DELETE : {{ product_attribute.name }} </h3>
            <div class="card-header">
              <h3 class="card-title">Delete <small></small></h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <br>
            <form id="quickForm" method="post">
              <div class="card-body">
                <div class="form-group">
                    <table>
                        <form action="" method="post">
                        {% csrf_token %}
                        
                        <strong>Are you sure, you want to delete {{product_attribute.name}}?</strong>
                       
                     
                </form>
                </table>
                  
                
              </div>
              <!-- /.card-body -->
              <div class="card-footer">
                <a href="{% url 'custom-admin:home' %}"><button type="submit" class="btn btn-primary">Delete</button></a>
              </div>
            </form>
          </div>
          <!-- /.card -->
          </div>
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-6">

        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

{% endblock content %}
