{% extends 'custom_admin/base.html'%}

{% block title %}
product-category
{% endblock title%}

{%block pagehead%}
PRODUCT CATEGORY
{%endblock pagehead%}

{% block content%}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Product Category</h3>
              <button type="button" class="btn btn-success" style="float:right;"><a href="{% url 'custom-admin:addproduct-category' %}"><h3 class="card-title" style="color : white">Add Product Category</h3></a></button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>product_id</th>
                  <th>category_id</th>

                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for x in res%}
                <tr>

                  <td>{{x.id}} </td>
                  <td> {{x.product_id}}</td>
                  <td> {{x.category_id}}</td>
                  
                  
                  <td><a href="{% url 'custom-admin:editproduct-category' x.id %}"><i class="fas fa-edit"></i></a><a href="{% url 'custom-admin:deleteproduct-category' x.id %}"><i class="fas fa-trash-alt" style="margin-left:20px"></i></a></td>  
                </tr>
                {%endfor%}
                </tbody>
                <tfoot>
                <tr>
                    <th>id</th>
                    <th>product_id</th>
                    <th>category_id</th>
  
                    <th>Action</th>
                  
                 
                 
                  
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

         
  </section>
  
  
{% endblock content %}

