{% extends 'custom_admin/base.html'%}

{% block title %}
user
{% endblock title%}

{%block pagehead%}
USER
{%endblock pagehead%}

{% block content%}
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">User Registered</h3>
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>id</th>
                  <th>username</th>
                  <th>Email</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                 
                  
                </tr>
                </thead>
                <tbody>
                {% for x in res%}
                <tr>

                  <td>{{x.id}} </td>
                  <td> {{x.username}}</td>
                  <td> {{x.email}}</td>
                  <td> {{x.first_name}}</td>
                  <td>{{x.last_name}}</td>
                
                </tr>
                {%endfor%}
                </tbody>
                <tfoot>
                <tr>
                  <th>id</th>
                  <th>username</th>
                  <th>Email</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  
                
                  
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          
  </section>
  
  
{% endblock content %}

