<p style="margin-left:48px">Dear Administrator,</p>

<p style="margin-left:48px">Please check below details of customer.</p>

<table cellspacing="0" style="border-collapse:collapse; width:553px">
	<tbody>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:264px">
			<p>Name</p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:259px">
			<p>{{contact.name}}</p>
			</td>
		</tr>
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:264px">
			<p>Email</p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:259px">
			<p>{{contact.email}}</p>
			</td>
		</tr>
		
		<tr>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:264px">
			<p>Comment</p>
			</td>
			<td style="border-bottom:1px solid #000000; border-left:1px solid #000000; border-right:1px solid #000000; border-top:1px solid #000000; width:259px">
			<p>{{contact.message}}</p>
			</td>
		</tr>
	</tbody>
</table>

<p style="margin-left:48px"><br />
&nbsp;</p>